<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('layout.css') }}" />
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
