{% extends 'base.html.twig' %}

{% block body %}
    <div class="top_titre">
        <p>Site réalisé par <b><a href="http://www.github.com/ThibautE">Thibaut ETIENNE</a></b> dans le cadre de l'UE HMIN302 E-Application</p>
        <p>Si vous souhaitez me contacter, vous pouvez à l'adresse suivante : <a href="mailto:thibaut_etienne@orange.fr">thibaut_etienne@orange.fr</a> </p>

        <p><u>Contenu du site :</u></p>
        <ul>
                <li>FosUserBundle pour la gestion des comptes</li>
                <li>CKEditor : éditeur de texte open source de type WYSIWYG</li>
                <li>L'éditeur de texte nous permet d'ajouter des photos, des URLs, de la mise en forme du texte en toute simplicité pour les articles</li>
                <li>Permet de créer / modifier / supprimer un article en étant administrateur</li>
            </ul>
    </div>


{% endblock %}