{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div id="row">
            <div class="menu">
                <div id="titre"> Bienvenue sur mon blog</div>
                <nav id="nav-wrap">
                    <ul id="nav" class="nav">
                        <li class="current"><a href="https://www.free-css.com/free-css-templates">Accueil</a></li>
                        <li><a href="pages/blog-overview.php">Mes articles</a></li>
                        <li><a href="pages/contact.php">Contact</a></li>
                        <li><a href="pages/about.php">à propos</a></li>
                        <li><a href="pages/style-guide.php">Connexion</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <body>
    <ul class="slides">
        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
            <div class="row">
                <div class="twelve columns">
                    <div class="slider-text">
                        <h1>Free amazing site template<span>.</span></h1>
                        <p>Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu. lacus sit amet luctus lobortis, dolores et quas molestias excepturi enim tellus ultrices elit.</p>
                    </div>
                    <div class="slider-image">

                    </div>
                </div>
            </div>
        </li>
        <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">
            <div class="row">
                <div class="twelve columns">
                    <div class="slider-text">
                        <h1>Responsive + HTML5 + CSS3<span>.</span></h1>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti eos et accusamus. amet consequat enim elit noneas sit amet luctu. lacus sit amet luctus lobortis. Aenean condimentum, lacus sit amet luctus.</p>
                    </div>
                    <div class="slider-image">

                    </div>
                </div>
            </div>
        </li>
    </ul>
    </body>

{% endblock %}