{% extends 'base.html.twig' %}

{% block body %}
    <div id="page-title"><h1>Bienvenue sur mon blog !</h1></div>
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1> Bonjour</h1>
                {{ base_dir }}
            </div>
        </div>
    </div>
{% endblock %}