{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1> Hello</h1>
                {{ var }}
            </div>
        </div>
    </div>
{% endblock %}