{% extends 'base.html.twig' %}

{% block body %}
    <div id="editArticle" class="col-md-8 offset-2">
        <h1>Titre : {{article.titre}}</h1>

        <p>Contenu : {{ article.contenu }}</p>
    </div>
{% endblock %}