h1{
    color: #3e829b;
}

.menu {
    display: block;
    height: 96px;
}

#titre a{
    text-decoration: none;
    color: #fff;
}

.top_titre{
    text-align: center;
    margin: 2%;
}

.navigation{
    margin-top: 2%;
    margin-left: 40%;
}

.pagination{
    margin-bottom: 0 !important;
}

.menu #titre {
    display: inline-block;
    height: 96px;
    vertical-align: center;
    font-size: 2.5em;
    color: #fff;
    margin-top: 22px;
    margin-left: 20px;
}

/* All articles */

.article_apercu{
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #383232;
    padding: 2%;
    margin-top: 1%;
}

.btnRead{
    float: right;
    width: 22%;
    margin-top: 1%;
}

/* create article */

#form_create{
    width: 80%;
    text-align: left;
}

#form_create input, textarea{
    float: right;
    width: 70%;
}

#form_create textarea{
    height: 200px;
}

#form_create .submit{
    width: 50%;
}

#form{
    overflow: auto;
}

.right_btn button{
    margin-top: 2%;
    width: 30%;
    float: right;
}

#contenu_form{
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Edition article */

#editArticle{
    margin-top: 2%;
}

#gestion{
    float: right;
    display: inline-block;
    margin-bottom: 2%;
    width: 25%;
}

#gestion a{
    margin-left: 3%;
}

#head_post{
    display: block;
}

#head_post h1{
    display: inline-block;
}



.contenu-apercu p{
    height: 24px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.contenu-apercu {
    height: 24px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* about */

#about{
    margin-top: 5%;
}

#about ul{
    list-style-type: none !important;
}

/* Connexion */

#connexion{
    text-align: center;
    margin-top: 10%;
}

#contentplus{
    width: 100%;
    height: 200px;
}

/* Footer */

footer{
    margin-bottom: 0px !important;
}


.footer-nav a{
    color: white !important;
}

.py-3 {
    margin-top: 10% !important;
}