h1{
    color: #3e829b;
}

.menu {
    display: block;
    height: 96px;
}

.menu #titre {
    display: inline-block;
    height: 96px;
    vertical-align: center;
    font-size: 2.5em;
    color: #fff;
    margin-top: 22px;
    margin-left: 20px;
}
