h1{
    color: #3e829b;
}

.menu {
    display: block;
    height: 96px;
}

#titre a{
    text-decoration: none;
    color: #fff;
}

.menu #titre {
    display: inline-block;
    height: 96px;
    vertical-align: center;
    font-size: 2.5em;
    color: #fff;
    margin-top: 22px;
    margin-left: 20px;
}

/* create article */

#form_create{
    width: 80%;
    margin-top: 4%;
    text-align: left;
}

#form_create h3{
    text-align: center;
    text-decoration: underline;
}

#form_create input, textarea{
    float: right;
    width: 70%;
}

#form_create textarea{
    height: 200px;
}

#form_create div{
    margin-top: 3%;
    overflow: auto;
}

#form_create .submit{
    width: 50%;
}

.align-items-center button{
    width: 30%;
    float: right;
}

/* Edition article */

#editArticle{
    margin-top: 2%;
}

/* Footer */

footer{
    margin-bottom: 0px !important;
}


.footer-nav a{
    color: white !important;
}